/Main/nbproject/private/
/Main/build/
/Main/dist/
/Scrooge/nbproject/private/
/Scrooge/dist/
/ConsensusFromTrust/nbproject/private/
/ConsensusFromTrust/build/
/ConsensusFromTrust/dist/
/BlockChain/nbproject/private/
/BlockChain/build/
/BlockChain/dist/
/test/nbproject/private/
/test/build/
/test/dist/
/testCourse/nbproject/private/
/testCourse/build/
/testCourse/dist/
/testCalculate/nbproject/private/
/testCalculate/build/
/testCalculate/dist/